# Data Science Tools and Ecosystems #

In this notebook, Data Science Tools and Ecosystems are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. C++
3. R

Some of the commonly used libraries used by data scientists:

1. Matplotlib
2. PyTorch
3. NumPy

| Data Science Tools |
----
| Hadoop |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in python  ###

In [1]:
# This is a simple arithmetic expression to multiply then add integers 
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
result=200/60
print(result)

3.3333333333333335

**Objectives:**
- Python
- Scala
- SQL

## Author ##
Elias V.